<p>This is the show page <%= params[:id] %></p>

<%= link_to 'Edit Entry', edit_entry_path %>

<h1><%= @entry.word %> - <%= @entry.language %></h1>
<%= link_to 'Back to Entries', entries_url %>

<p><%= @entry.definition %> </p>
